### Import libraries
import( utils )
import( readr )
import( stringr )
import( tibble )
import( dplyr )
import( magrittr )

### Import sepecific functions
importFrom("utils", "read.table")

### Export functions
export('read_pfam')
export('augment_pfam')
export('analyse_pfam_isotypes')
export('pfamAnalyzeR')
